In [160]:
import numpy as np
import pandas as pd

df = pd.read_csv(r'C:\Users\kharr\OneDrive\Desktop\vehicles original.csv')
df_sm = df[['year', 'make', 'model', 'co2TailpipeGpm', 'VClass', 'fuelType', 'eng_dscr']]
df_sm['co2taillbsmile'] = df_sm['co2TailpipeGpm'] *0.00220462
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicle 4WD')]
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicle 2WD')]
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicle')]
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicles')]
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicle/4wd')]
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicle/2wd')]
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicles/4wd')]
df_sm = df_sm[~(df_sm['VClass'] == 'Special Purpose Vehicles/2wd')]
df_sm = df_sm[~(df_sm['VClass'] == 'Vans Passenger')]
df_sm = df_sm[~(df_sm['VClass'] == 'Vans, Cargo Type')]
df_sm = df_sm[~(df_sm['VClass'] == 'Vans, Passenger Type')]
df_sm = df_sm[~(df_sm['VClass'] == 'Subcompact Cars')]
df_sm = df_sm[~(df_sm['VClass'] == 'Vans')]
df_sm['VClass'].isna().sum()

c:\users\kharr\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-160-95e852a86925>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sm['co2taillbsmile'] = df_sm['co2TailpipeGpm'] *0.00220462

0

# Vehicle Manufacture data from Energy-Consumption and Carbon-Emission Analysis of Vehicle and Component Manufacturing
Argonne Lab

CO2kg from manufacturing of vehicle and battery (if applicable)
ICV vehicle weight = 1,532kg + 1,578kg > Average of 1,555kg > convert to lbs = 3428.188lbs wgt
ICV CO2 = 2,011 + 1,969kg > Average of 1,990kg > convert to lbs = 4387.2lbs CO2
ICV Ratio = 4387.2lbs CO2/3428.188lbs wgt = 1.28 CO2/lb for vehicle production of ICV

ICV CO2 = 4387.2lbs CO2

HEV vehicle weight = 1,683kg > convert to lbs = 3710.38lbs wgt
HEV CO2 = 2,033kg > convert to lbs = 4482.0lbs CO2
HEV Ratio = 4481.998lbs CO2/3710.38lbs wgt = 1.21 CO2/lb for vehicle production of ICV

HEV CO2 = 4482.0lbs CO2

PHEV vehicle weight = 1,746kg + 1959kg > Average of 1852.5kg > convert to lbs = 4084.063lbs wgt
PHEV CO2 = 2,284 + 2,755kg > Average of kg > 2519.5 convert to lbs = 5554.55lbs CO2
PHEV Ratio = 5554.55lbs CO2/4084.063lbs wgt = 1.36 CO2/lb for vehicle production of ICV

PHEV CO2= 5554.6lbs CO2

EV vehicle weight = 2104kg > convert to lbs = 4638.526lbs wgt
EV CO2 = 3,244kg > convert to lbs = 7151.796lbs CO2
EV Ratio = 7151.796lbs CO2/4638.526lbs wgt = 1.54 CO2/lb for vehicle production of ICV

EV CO2= 7151.8lbs CO2

In [193]:

HEV = df_sm[df_sm['eng_dscr'].str.match('HEV.*')== True]
PHEV = df_sm[df_sm['eng_dscr'].str.match('.*PHEV.*')== True]
EV = df_sm[df_sm['fuelType']=='Electricity']

df_sm['CO2HEV'] = np.where(df_sm['eng_dscr'].str.match('HEV.*')== True,4482.0,0)
df_sm['CO2PHEV'] = np.where(df_sm['eng_dscr'].str.match('.*PHEV.*')== True,5554.6,0)
df_sm['CO2EV'] = np.where(df_sm['fuelType']=='Electricity',7151.8,0)

total = df_sm['CO2HEV']+df_sm['CO2PHEV']+df_sm['CO2EV']
df_sm['CO2VM_COMBO'] = total

df_sm['CO2VM_COMBO']=df_sm['CO2VM_COMBO'].replace(0,4387.2)
df_sm.describe()

,year,co2TailpipeGpm,co2taillbsmile,CO2VM_HEV,CO2VM_PHEV,CO2VM_EV,CO2HEV,CO2PHEV,CO2EV,CO2VM_COMBO
count,33856.000000,33856.000000,33856.000000,33856.000000,33856.000000,33856.000000,33856.000000,33856.000000,33856.000000,33856.000000
mean,2004.318703,455.275757,1.003710,6.883979,33.633418,54.289125,6.883979,33.633418,54.289125,4415.400284
std,11.354446,120.693851,0.266084,175.520698,430.922802,620.748768,175.520698,430.922802,620.748768,255.910847
min,1984.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4387.200000
25%,1994.000000,386.391304,0.851846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4387.200000
50%,2006.000000,444.350000,0.979623,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4387.200000
75%,2014.000000,522.764706,1.152498,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4387.200000
max,2022.000000,1269.571429,2.798923,4482.000000,5554.600000,7151.800000,4482.000000,5554.600000,7151.800000,7151.800000

In [196]:
#aggregate to remove duplicate make/models with different engine or drive properties. Average CO2lb/mile per make/model/year

aggr_all= df_sm.groupby(['year','make','model', 'VClass','fuelType', 'CO2VM_COMBO'])['co2taillbsmile'].sum().reset_index(name ='CO2lbmi')
aggr_all

,year,make,model,VClass,fuelType,CO2VM_COMBO,CO2lbmi
0,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,4387.2,1.959246
1,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,4387.2,1.865948
2,1984,Audi,5000S,Midsize Cars,Regular,4387.2,6.608326
3,1984,Audi,5000S Wagon,Midsize Station Wagons,Regular,4387.2,4.303331
4,1984,Avanti Motor Corporation,Avanti II,Minicompact Cars,Regular,4387.2,2.377026
...,...,...,...,...,...,...,...
18845,2022,Subaru,Legacy AWD,Large Cars,Regular,4387.2,1.377887
18846,2022,Subaru,Outback AWD,Small Sport Utility Vehicle 4WD,Regular,4387.2,1.435208
18847,2022,Subaru,Outback Wilderness AWD,Small Sport Utility Vehicle 4WD,Regular,4387.2,0.831142
18848,2022,Volkswagen,Taos,Small Sport Utility Vehicle 2WD,Regular,4387.2,0.630521
18849,2022,Volkswagen,Taos 4motion,Small Sport Utility Vehicle 4WD,Regular,4387.2,0.712092

In [197]:
#Export

aggr_all.to_excel(r'C:\Users\kharr\OneDrive\Desktop\Vehicle Data Cleaned.xlsx', index = False)

## Just some fun with decades

In [31]:
Eighties = df[df['year'] <= 1989]
Nineties = df[(df['year'] >=1990) & (df['year'] <=1999)]
Twothousands = df[(df['year'] >=2000) & (df['year'] <=2009)]
tens = df[(df['year'] >=2010) & (df['year'] <=2019)]
current = df[df['year'] >= 2020]

In [19]:
print(Eighties['co2TailpipeLbsm'].mean())
print(Nineties['co2TailpipeLbsm'].mean())
print(Twothousands['co2TailpipeLbsm'].mean())
print(tens['co2TailpipeLbsm'].mean())
print(current['co2TailpipeLbsm'].mean())

1.0855555329397977
1.0871005455519223
1.0695618835381944
0.9106720629238522
0.8496107242392911

In [20]:
Eighties.groupby('make').mean()

,year,city08,comb08,highway08,co2TailpipeGpm,co2TailpipeLbsm
make,,,,,,
AM General,1984.333333,15.166667,14.833333,15.000000,608.635511,1.341810
ASC Incorporated,1987.000000,14.000000,16.000000,21.000000,555.437500,1.224529
Acura,1987.444444,19.388889,21.388889,24.555556,422.868752,0.932265
Alfa Romeo,1986.714286,17.142857,19.333333,23.428571,462.088479,1.018730
American Motors Corporation,1984.481481,16.296296,17.888889,20.481481,499.872621,1.102029
...,...,...,...,...,...,...
Vixen Motor Company,1986.000000,15.000000,16.000000,16.000000,636.250000,1.402689
Volga Associated Automobile,1986.000000,18.000000,19.000000,22.000000,467.736842,1.031182
Volkswagen,1985.788571,21.348571,23.280000,26.377143,411.002045,0.906103
Volvo,1986.330769,17.946154,19.823077,22.961538,458.429978,1.010664
Yugo,1987.833333,23.333333,25.333333,28.500000,351.112457,0.774070

In [25]:
Nineties.groupby('make').mean()

,year,city08,comb08,highway08,co2TailpipeGpm,co2TailpipeLbsm
make,,,,,,
Acura,1995.084211,18.126316,20.378947,24.210526,445.010827,0.981080
Alfa Romeo,1992.476190,16.761905,19.380952,23.904762,463.602106,1.022066
Aston Martin,1995.142857,11.642857,13.928571,17.428571,643.737821,1.419197
Audi,1994.738462,16.346154,18.807692,23.123077,475.804726,1.048969
Autokraft Limited,1992.500000,13.000000,16.000000,20.000000,555.437500,1.224529
...,...,...,...,...,...,...
Vector,1994.500000,7.250000,8.500000,11.000000,1049.159722,2.312999
Volkswagen,1995.096070,19.755459,22.497817,27.096070,417.678748,0.920823
Volvo,1994.152439,17.256098,19.621951,23.780488,454.409597,1.001800
Wallace Environmental,1991.500000,12.437500,13.875000,16.000000,657.990029,1.450618
Yugo,1990.000000,22.000000,24.000000,27.500000,370.935652,0.817772

In [26]:
Twothousands.groupby('make').mean()

,year,city08,comb08,highway08,co2TailpipeGpm,co2TailpipeLbsm
make,,,,,,
Acura,2004.415730,18.101124,20.808989,25.573034,434.346123,0.957568
Alfa Romeo,2009.000000,11.000000,13.000000,16.000000,683.615385,1.507112
Aston Martin,2005.409091,10.727273,12.772727,17.250000,700.598156,1.544553
Audi,2004.907042,16.754930,19.476056,24.180282,465.537954,1.026334
BMW,2005.028862,16.154499,18.903226,23.898132,477.972647,1.053748
BMW Alpina,2006.000000,13.666667,15.666667,20.333333,567.780556,1.251740
Bentley,2004.913043,9.739130,11.717391,15.086957,760.961196,1.677630
Bugatti,2007.000000,8.000000,10.000000,14.000000,888.700000,1.959246
Buick,2004.870000,16.150000,19.000000,23.970000,471.697538,1.039914
Cadillac,2005.842424,14.296970,16.781818,21.393939,539.463274,1.189312
Chevrolet,2004.801644,15.887975,17.990750,21.675231,515.182639,1.135782
Chrysler,2004.960714,17.189286,19.682143,24.132143,456.904635,1.007301
Daewoo,2001.658537,19.804878,22.951220,28.804878,389.945099,0.859681
Dodge,2004.420152,14.884030,16.956274,20.629278,544.579060,1.200590
Ferrari,2004.677419,9.758065,11.435484,15.048387,783.871735,1.728139
Ford,2003.969945,16.326503,18.288251,21.748634,507.761265,1.119421
GMC,2004.897133,13.888702,15.600337,18.556492,576.830228,1.271691
Honda,2004.543396,23.332075,25.898113,30.007547,368.683923,0.812808
Hummer,2008.000000,13.692308,15.230769,17.538462,585.142216,1.290016
Hyundai,2005.064935,19.186147,21.857143,26.558442,414.453839,0.913713
Infiniti,2005.548673,15.690265,18.017699,21.929204,502.217540,1.107199
Isuzu,2003.085470,15.094017,16.837607,19.931624,532.697876,1.174396
Jaguar,2004.573427,15.489510,18.237762,23.048951,488.665174,1.077321
Jeep,2005.614634,15.712195,17.365854,20.234146,527.606050,1.163171
Kia,2005.261905,18.589286,21.035714,24.970238,435.043985,0.959107
Lamborghini,2006.431818,9.477273,11.568182,14.977273,781.713587,1.723381
Land Rover,2005.295455,12.454545,14.090909,17.250000,637.568831,1.405597
Lexus,2005.479452,17.164384,19.232877,22.890411,472.189167,1.040998
Lincoln,2004.402299,14.540230,16.954023,21.045977,537.771668,1.185582
London Taxi,2003.000000,21.000000,22.000000,24.000000,462.727273,1.020138
Lotus,2005.307692,17.923077,20.153846,24.769231,451.417960,0.995205
MINI,2006.866667,25.066667,28.083333,32.933333,327.831329,0.722744
Maserati,2004.884615,10.730769,12.653846,16.153846,706.339962,1.557211
Maybach,2006.947368,10.315789,12.315789,15.947368,722.593455,1.593044
Mazda,2004.678930,18.565217,20.682274,24.270903,440.658657,0.971485
Mercedes-Benz,2004.940265,15.101770,17.433628,21.473451,525.574722,1.158693
Mercury,2004.630952,16.779762,19.029762,23.113095,479.676286,1.057504
Mitsubishi,2004.570423,17.732394,20.063380,24.080986,454.520097,1.002044
Morgan,2002.333333,15.000000,17.000000,22.000000,522.764706,1.152498
Nissan,2005.028133,17.462916,19.473146,22.864450,482.825260,1.064446
Oldsmobile,2002.025000,17.125000,19.925000,24.775000,457.417296,1.008431
Plymouth,2000.214286,18.642857,21.428571,25.785714,424.768682,0.936454
Pontiac,2004.909483,18.926724,21.926724,27.150862,414.065914,0.912858
Porsche,2005.532680,15.761438,18.415033,23.062092,490.181948,1.080665
Qvale,2000.000000,17.000000,21.000000,28.000000,423.190476,0.932974
Rolls-Royce,2005.333333,10.888889,13.388889,16.833333,665.530322,1.467241
Roush Performance,2006.121212,12.636364,14.363636,17.181818,636.497509,1.403235
Saab,2004.780612,17.341837,20.316327,25.780612,441.849509,0.974110
Saleen Performance,2008.200000,11.400000,13.600000,16.800000,654.317582,1.442522
Saturn,2004.746988,20.144578,23.048193,28.048193,393.284315,0.867042
Scion,2006.600000,23.866667,26.366667,30.366667,341.315251,0.752470
Shelby,2008.000000,15.000000,17.000000,22.000000,522.764706,1.152498
Spyker,2006.363636,13.000000,15.000000,18.000000,592.466667,1.306164
Subaru,2005.262222,18.444444,20.760000,24.724444,429.688748,0.947300
Suzuki,2004.165217,19.656522,21.639130,25.034783,420.736146,0.927563
"Tecstar, LP",2008.000000,11.000000,13.000000,15.000000,683.615385,1.507112
Toyota,2004.451796,19.646503,21.635161,24.971645,441.273036,0.972839
Volkswagen,2004.140777,20.483010,23.427184,28.388350,402.289877,0.886896
Volvo,2004.986842,17.569079,20.421053,25.151316,438.759773,0.967299
smart,2008.500000,33.000000,36.000000,41.000000,246.861111,0.544235

In [27]:
tens.groupby('make').mean()

,year,city08,comb08,highway08,co2TailpipeGpm,co2TailpipeLbsm
make,,,,,,
Acura,2014.829630,20.585185,23.311111,28.081481,387.410308,0.854093
Alfa Romeo,2017.894737,21.684211,24.736842,29.736842,368.368421,0.812112
Aston Martin,2014.121622,13.229730,15.405405,19.702703,578.579607,1.275548
Audi,2014.556086,19.594272,22.551313,27.918854,410.719157,0.905480
Azure Dynamics,2012.000000,62.000000,62.000000,62.000000,0.000000,0.000000
...,...,...,...,...,...,...
Toyota,2014.525130,23.253033,25.036395,27.868284,397.810831,0.877022
VPG,2011.800000,12.200000,14.200000,17.200000,569.494359,1.255519
Volkswagen,2014.324176,24.851648,27.774725,32.920330,345.097205,0.760808
Volvo,2014.721698,20.367925,23.259434,28.273585,380.783699,0.839483
smart,2014.588235,72.588235,67.617647,63.323529,131.122549,0.289075

In [28]:
current.groupby('make').mean()

,year,city08,comb08,highway08,co2TailpipeGpm,co2TailpipeLbsm
make,,,,,,
Acura,2020.500000,21.312500,23.718750,27.937500,376.812500,0.830728
Alfa Romeo,2020.461538,21.076923,23.846154,28.615385,378.230769,0.833855
Aston Martin,2020.545455,15.636364,18.090909,22.181818,493.090909,1.087078
Audi,2020.538462,21.648352,24.263736,28.626374,384.758242,0.848246
BMW,2020.597403,21.688312,24.030303,28.181818,386.467532,0.852014
BYD,2020.000000,73.000000,72.000000,71.000000,0.000000,0.000000
Bentley,2020.500000,13.777778,16.444444,21.111111,527.055556,1.161957
Bugatti,2020.500000,8.750000,10.500000,13.500000,859.250000,1.894320
Buick,2020.781250,23.437500,25.781250,29.281250,349.125000,0.769688
Cadillac,2020.823529,19.470588,22.044118,26.764706,410.705882,0.905450
Chevrolet,2020.738916,20.960591,23.039409,26.625616,438.320197,0.966329
Chrysler,2020.500000,19.571429,22.428571,27.571429,376.928571,0.830984
Dodge,2020.489796,15.306122,18.204082,23.775510,496.510204,1.094616
Ferrari,2020.533333,14.600000,16.200000,19.266667,545.000000,1.201518
Fiat,2020.200000,24.200000,27.200000,32.200000,330.800000,0.729288
Ford,2020.591463,23.512195,25.085366,27.920732,394.585366,0.869911
GMC,2020.694030,17.246269,19.283582,22.753731,479.082090,1.056194
Genesis,2020.954545,18.386364,21.181818,26.022727,428.000000,0.943577
Honda,2020.454545,29.506494,31.545455,34.831169,294.220779,0.648645
Hyundai,2020.921739,32.878261,34.713043,37.573913,291.095652,0.641755
Infiniti,2020.535714,18.857143,21.428571,25.857143,426.750000,0.940822
Jaguar,2020.285714,22.690476,25.071429,29.428571,382.309524,0.842847
Jeep,2020.513514,19.445946,21.864865,25.905405,416.837838,0.918969
Kandi,2021.000000,127.000000,114.000000,102.000000,0.000000,0.000000
Karma,2020.800000,25.000000,24.400000,23.400000,80.400000,0.177251
Kia,2020.851485,29.841584,31.514851,34.475248,315.851485,0.696333
Lamborghini,2020.500000,10.833333,12.777778,16.333333,707.888889,1.560626
Land Rover,2020.758065,17.709677,19.516129,22.580645,451.822581,0.996097
Lexus,2020.486111,22.736111,25.027778,28.750000,375.208333,0.827192
Lincoln,2020.394737,19.736842,22.078947,25.973684,400.947368,0.883937
Lotus,2020.333333,16.833333,19.833333,24.666667,446.166667,0.983628
MINI,2021.112676,29.070423,31.816901,36.492958,293.070423,0.646109
Maserati,2020.523810,15.333333,17.714286,22.142857,504.523810,1.112283
Mazda,2020.557692,25.192308,28.076923,32.653846,318.211538,0.701536
McLaren Automotive,2020.000000,14.666667,17.666667,21.777778,515.000000,1.135379
Mercedes-Benz,2020.480000,19.188571,21.800000,26.217143,416.777143,0.918835
Mitsubishi,2020.677419,26.774194,28.612903,31.709677,305.000000,0.672409
Nissan,2020.578947,30.078947,31.855263,35.013158,343.684211,0.757693
Pagani,2020.000000,10.000000,12.000000,15.000000,707.000000,1.558666
Polestar,2020.666667,46.666667,48.000000,50.000000,62.000000,0.136686
Porsche,2020.573427,21.496503,23.517483,26.685315,389.034965,0.857674
RUF Automobile,2020.000000,16.000000,18.000000,20.000000,497.000000,1.095696
Ram,2020.533333,17.766667,20.266667,24.433333,460.466667,1.015154
Rolls-Royce,2020.476190,12.000000,14.000000,18.857143,625.000000,1.377887
Roush Performance,2020.000000,11.750000,13.750000,17.250000,643.250000,1.418122
Subaru,2020.620000,24.180000,26.820000,31.040000,333.240000,0.734668
Tesla,2020.363636,117.242424,112.909091,107.969697,0.000000,0.000000
Toyota,2020.503876,28.333333,30.186047,33.310078,328.372093,0.723936
Volkswagen,2020.608696,27.978261,30.152174,33.760870,337.826087,0.744778
Volvo,2020.522727,24.068182,26.931818,31.500000,308.545455,0.680225

,year,city08,comb08,highway08,co2TailpipeGpm,co2TailpipeLbsm
make,,,,,,
AM General,1984.333333,15.166667,14.833333,15.000000,608.635511,1.341810
ASC Incorporated,1987.000000,14.000000,16.000000,21.000000,555.437500,1.224529
Acura,2006.390244,19.357724,21.894309,26.295393,414.370902,0.913530
Alfa Romeo,2002.373333,18.786667,21.413333,25.960000,427.188236,0.941788
American Motors Corporation,1984.481481,16.296296,17.888889,20.481481,499.872621,1.102029
...,...,...,...,...,...,...
Volkswagen,2003.473083,22.048940,24.775693,29.407015,387.008649,0.853207
Volvo,2003.283372,18.596019,21.216628,25.656909,423.658298,0.934006
Wallace Environmental,1991.500000,12.437500,13.875000,16.000000,657.990029,1.450618
Yugo,1988.375000,23.000000,25.000000,28.250000,356.068256,0.784995
smart,2013.947368,68.421053,64.289474,60.973684,143.305556,0.315934

#Dead code. Working but not needed

In [109]:


car_wgts = {'Compact Cars':2919, 'Midsize Cars':3361, 'Large Cars':3882, 'Small Pickup Trucks': 3590, 
            'Small Pickup Trucks 2WD':3590, 'Small Pickup Trucks 4WD':3590, 'Small Station Wagons':3590,
            'Small Sport Utility Vehicle': 3590, 'Small Sport Utility Vehicle 2WD':3590,
            'Small Sport Utility Vehicle 4WD':3590, 'Standard Pickup Trucks 4WD':4404, 'Standard Pickup Trucks': 4404,
            'Standard Pickup Trucks 2WD':4404, 'Standard Pickup Trucks/2wd':4404,
            'Small Station Wagon': 3590,'Standard Pickup Truck': 4404, 
            'Standard Sport Utility Vehicle 2WD': 4404, 'Standard Sport Utility Vehicle 4WD':4404, 
            'Large truck': 5603, 'Large Sport Utility Vehicle': 5603,
           'Two Seaters':2919, 'Midsize Station Wagons':3361, 'Midsize-Large Station Wagons':3882, 
           'Minicompact Cars':2919,'Minivan - 2WD':5603,'Minivan - 4WD':5603,
           }
#weight in kgs
df_sm['Weight'] = df_sm['VClass'].map(car_wgts)

df_sm

,year,make,model,co2TailpipeGpm,VClass,fuelType,eng_dscr,co2taillbsmile,Weight
0,1985,Alfa Romeo,Spider Veloce 2000,423.190476,Two Seaters,Regular,(FFS),0.932974,2919.0
1,1985,Ferrari,Testarossa,807.909091,Two Seaters,Regular,(GUZZLER),1.781133,2919.0
4,1993,Subaru,Legacy AWD Turbo,467.736842,Compact Cars,Premium,"(FFS,TRBO)",1.031182,2919.0
5,1993,Subaru,Loyale,403.954545,Compact Cars,Regular,(FFS),0.890566,2919.0
6,1993,Subaru,Loyale,355.480000,Compact Cars,Regular,(FFS),0.783698,2919.0
...,...,...,...,...,...,...,...,...,...
43641,1993,Subaru,Legacy,403.954545,Compact Cars,Regular,(FFS),0.890566,2919.0
43642,1993,Subaru,Legacy,386.391304,Compact Cars,Regular,(FFS),0.851846,2919.0
43643,1993,Subaru,Legacy AWD,423.190476,Compact Cars,Regular,(FFS),0.932974,2919.0
43644,1993,Subaru,Legacy AWD,423.190476,Compact Cars,Regular,(FFS),0.932974,2919.0
43645,1993,Subaru,Legacy AWD Turbo,493.722222,Compact Cars,Premium,"(FFS,TRBO)",1.088470,2919.0

In [103]:
manufact_cost = {'ICV' :4387.2, 'HEV':4482.0, 'PHEV':5554.6, 'EV':7151.8 }

cost_engine= {'Regular':4387.2, 'Diesel':4387.2, 'Premium':4387.2, 'CNG':4387.2, 'Electricity',
       'Gasoline or E85':4387.2, 'Gasoline or natural gas':4387.2,
       'Gasoline or propane':4387.2, 'Premium or E85':4387.2,
       'Premium Gas or Electricity', 'Midgrade':4387.2,
       'Regular Gas and Electricity', 'Premium and Electricity',
       'Regular Gas or Electricity'}

array(['Regular Gasoline', 'Diesel', 'Premium Gasoline', 'Natural Gas',
       'Electricity', 'Midgrade Gasoline'], dtype=object)